img{
    height: auto;
    width: 20%;
   
}
body{
    background-color: blueviolet;
}
h1{
    color: rgb(0, 0, 0);
    display: block;
   
}
h1:hover{
    background-color: red;
    border-radius: 11px;
    width: 210px;
    display: block;
    margin-left: 10px
}
li:hover{
    background-color: gray;
    border-radius: 5px;
    width: 190px;
}